.attribution { 
    font-size: 0.6875rem; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
body{
    background-color: #f5d04e;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial;
}
.card{
    width: 420px;
    height: 600px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;;
    box-shadow: 10px 10px 0 #000;
    margin: auto auto;
}   
.cardContent{
    padding: 20px;
}
.cardImage{
    width: 100%;
    border-radius: 10px;
}
.learningTitle{
    background-color: #f5d04e;
    padding: 10px;
    font-size: 15px;
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
}
.cardTitle{
    font-size: 25px;
    margin: 20px 0;
}
.cardDescription{
    color: grey;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
}
.cardAuthor{
    display: flex;
    gap: 20px;
    font-weight: bold;
    font-size: 1.5em;
    align-items: center;
    font-size: 18px;
}
.cardAuthorImage{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
footer{
    margin-top: 20px;
}